# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.pyc
*.cxx
*.o
*.so
*_wrap.*

build

+Basis/*

Basis.py
Basis.pyc
Basis_wrap.cxx
Basis.o
_Basis.so
libBasis.so
Basis_wrap.o
Basis_wrap.h
.idea

CMakeFiles
CMakeCache.txt
Makefile
swig/+*
*.mexa64
swig/*.m
*.cmake

*.swp
*.log
/CMakeLists.txt.orig
*.rej
/tests/Testing/Temporary/CTestCostData.txt
*.snippets
/Testing/Temporary/CTestCostData.txt
/tests/.gdb_history
/tests/pdb.py
/run.sh
/tests/pdb/pdb.py
/temp_tests/*
/build*

*.pyc
*BACKUP*
*BASE*
*LOCAL*
*REMOTE*
